<h1>Alarms</h1>

<hr>

<% @alarms.each do |alarm| %>
  <a class="btn btn-default btn-lg" href="<%= edit_alarm_path(alarm) %>" style="padding: 20px; margin-right: 15px">
    <%= alarm.title %>
    <br>
    <i class="fa fa-clock-o fa-5x"></i>
    <br>
    <%= alarm.time.strftime('%-l:%M %p') %>
  </a>
<% end %>

<br>
<br>

<%= link_to 'New Alarm', new_alarm_path, class: 'btn btn-primary' %>
