<h1>Alarms</h1>

<hr>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alarms.each do |alarm| %>
      <tr>
        <td><%= link_to alarm.time.strftime('%-l:%M %p'), edit_alarm_path(alarm) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alarm', new_alarm_path, class: 'btn btn-primary' %>
