<div class='jumbotron' style='background-color: white; padding-left: 0;'>
  <h1>Hello, I'm Jarvis.</h1>

  <h2>I'm here to help.</h2>
</div>

<hr>

<%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> to remind yourself of daily tasks, create voice alarms, and more.