<%= form_for(@meal_time) do |f| %>
  <% if @meal_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal_time.errors.count, "error") %> prohibited this meal_time from being saved:</h2>

      <ul>
      <% @meal_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
